body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: 400 16px/1.5 PingFangSC-regular, Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #222;
  outline: none;
}

div {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* 搜索模块 */

.search_index {
  display: flex;
  /* 固定定位跟父级没有关系 以屏幕为准 */
  position: fixed;
  top: 0;
  left: 50%;
  min-width: 320px;
  max-width: 540px;
  /* 固定的盒子应该有宽度 */
  width: 100%;
  height: 44px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f6f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* background-color: pink; */
  z-index: 999;
}

.search {
  position: relative;
  height: 26px;
  line-height: 24px;
  border: 1px solid #ccc;
  flex: 1;
  margin: 7px 10px;
  color: #666;
  border-radius: 5px;
  font-size: 12px;
  padding-left: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.search::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/ico.png) no-repeat -59px -279px;
  background-size: 104px auto;
}

.user {
  width: 44px;
  height: 44px;
  /* background-color: purple; */
  font-size: 12px;
  text-align: center;
  color: darkturquoise;
}

.search_index .user::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url(../images/ico.png) no-repeat -59px -194px;
  background-size: 104px auto;
  margin: 5px auto -3px;
}

/* 焦点图制作 */

.focus img {
  width: 100%;
  height: 150px;
}

.local_nav {
  display: flex;
  height: 64px;
  background-color: #fff;
  margin: 5px 4px;
  margin-top: 0px;
  border-radius: 8px;
}

.local_nav li {
  flex: 1;
}

.local_nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
}

.local_nav li [class^=nav_ico] {
  width: 40px;
  height: 40px;
  /* background-color: pink; */
  background: url(../images/ico2.png) no-repeat 0px 0px;
  background-size: 40px auto;
}

.local_nav li .nav_ico2 {
  background-position: 0px -40px;
}

.local_nav li .nav_ico3 {
  background-position: 0px -80px;
}

.local_nav li .nav_ico4 {
  background-position: 0px -120px;
}

.local_nav li .nav_ico5 {
  background-position: 0px -160px;
}

nav {
  margin: 0 4px 3px;
  border-radius: 8px;
  overflow: hidden;
}

.nav_main {
  display: flex;
  height: 88px;
  background-color: pink;
}

.nav_main:nth-child(2) {
  margin: 3px 0;
}
.nav_main_itmes{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.nav_main_itmes a{
  flex: 1;
  color: #fff;
  text-align: center;
  line-height: 44px;
  text-shadow: 2px 2px rgba(0, 0, 0, .3);
  font-size: 12px ;
}
.nav_main_itmes:nth-child(1) a{
  background:url(../images/items.png) no-repeat;
  background-position: bottom;
  background-size:73px ;
}
.nav_main_itmes:nth-child(n+2){
  border-left: 1px solid #fff;
}
.nav_main_itmes a:nth-child(1){
  border-bottom: 1px solid #fff;
}
.nav_main_itmes:nth-child(1) a{
  border: 0;
}
nav .nav_main:nth-child(1){
  background: -webkit-linear-gradient(left,#FA5a55,#fa994d);
}
nav .nav_main:nth-child(2){
  background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
nav .nav_main:nth-child(3){
  background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
nav .nav_main:nth-child(2) .nav_main_itmes:nth-child(1) a{
  background:url(../images/items2.png) no-repeat;
  background-position: bottom;
  background-size:73px ;
}
nav .nav_main:nth-child(3) .nav_main_itmes:nth-child(1) a{
  background:url(../images/items3.png) no-repeat;
  background-position: bottom;
  background-size:73px ;
}
.subnav{
  display: flex;
  overflow: hidden;
  margin: 5px 3px;
  background-color: #fff;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 5px 0;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2); */
}
.subnav li{
  flex: 20%;
}
.subnav_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.subnav_main span:nth-child(1){
  width: 28px;
  height: 28px;
  margin-top: 3px;
  background:url(../images/ico3.png)no-repeat;
  background-size: 28px;
}
.subnav li:nth-child(2) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -28px;
  background-size: 28px;
}
.subnav li:nth-child(3) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -56px;
  background-size: 28px;
}
.subnav li:nth-child(4) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -84px;
  background-size: 28px;
}
.subnav li:nth-child(5) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -112px;
  background-size: 28px;
}
.subnav li:nth-child(6) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -140px;
  background-size: 28px;
}
.subnav li:nth-child(7) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -168px;
  background-size: 28px;
}
.subnav li:nth-child(8) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -196px;
  background-size: 28px;
}
.subnav li:nth-child(9) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -224px;
  background-size: 28px;
}
.subnav li:nth-child(10) span:nth-child(1){
  background:url(../images/ico3.png)no-repeat;
  background-position: 0 -252px;
  background-size: 28px;
}
.tool_cn{
  display: flex;
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  border-top:1px solid #bbb;
}
.tool_cn a{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  font-size: 12px;
}
.tool_cn a span:nth-child(1){
  color: #bbb;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}