* {
    padding: 0px;
    margin: 0px;
}

#box1 {
    width: 800px;
    height: 500px;
    margin: 200px auto;
    overflow: hidden;
    /* position: relative; */
    /* border: 10px solid #1e74a5a8; */
    border-radius: 12px;
}

#box2 {
    width: 100%;
    height: 100%;
    /* flex布局 */
    display: flex;
}

#box2 img {
    width: 100%;
    height: 100%;
    /* 鼠标变手 */
    cursor: pointer;
}

#box3 {
    /* position: relative;
    left: 400px; */
}

#box3 img {
    width: 80px;
}

#box3 .left {
    position: relative;
    left: 150px;
    top: -500px;
  

}

